a {
  text-decoration: none !important;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  text-transform: lowercase;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.jungle-color {
  background-color: #004644;
}

.custom-button {
  background-color: #ff0000;
}

.active-button {
  background-color: #007bff; /* Your preferred highlight color */
  color: #fff; /* Text color for highlighted button */
}

.zoom-out-image {
  /* Initial size */
  transform: scale(1.2);
  opacity: 1;
}

.zoom-out-image:hover {
  /* Slightly zoom out on hover */
  transform: scale(1.5);
  opacity: 0.7;
}




.wishlist-heart {
  position: absolute;
    left: auto;
    top: 20px;
    right: 20px;
    background-color: red;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    transition: all 0.3s ease;
    color: #ff0000
}

.fa-heart{
  opacity: 1 !important;
}

.fa-heart:hover {
  transform: scale(1.2);
}
